/* 

#Include files
!.gitignore
!LICENSE 
!README.md 
!.zshrc
!.tmux.conf

#Include folder
!/.config/
/.config/*
!/.config/zsh/
/.config/zsh/plugins/*
!/.config/zsh/plugins/get_plugins.sh

!/.config/nvim/
/.config/nvim/plugin/*

!/.config/alacritty
/.config/alacritty/*
!/.config/alacritty/alacritty.yml
!/.config/alacritty/get_addons.sh

!/.config/tmux
/.config/tmux/*
!/.config/tmux/tmux.custom
